<div class="container my-3">
	<h5> <strong> Of & From  </strong> </h5>
	<div class="row">
		<div class="col-sm-6">
			<strong>Ex - 01 ( OF )</strong>
			<p class="bg-light py-4 px-3 border rounded">
				<strong>String :</strong> of ( "Santosh", "Shweta", "Arati" )
			</p>
			<hr>
			<ul id="elContainer">
				
			</ul>
		</div>

		<div class="col-sm-6">
			<strong>Ex - 02 ( OF )</strong>
			<p class="bg-light py-4 px-3 border rounded">
				<strong>Object :</strong> of (&#123; a: "Santosh", b: "Shweta", c: "Arati" &#125;)
			</p>
			<hr>
			<ul >
				<li> <strong>a : </strong> {{obsmsg.a}} </li>
				<li> <strong>b : </strong> {{obsmsg.b}} </li>
				<li> <strong>c : </strong> {{obsmsg.c}} </li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<strong>Ex - 01  ( FROM )</strong>
			<p class="bg-light py-4 px-3 border rounded">
				<strong>Array :</strong> From ( [ "Santosh_from", "Shweta_from", "Arati_from" ] )
			</p>
			<hr>
			<ul id="elContainer3">			</ul>
		</div>

		<div class="col-sm-4">
			<strong>Ex - 02  ( FROM )</strong>
			<p class="bg-light py-4 px-3 border rounded">
				<strong>Promise :</strong> Promise to observables 
			</p>
			<hr>
			<ul id="elContainer4">			</ul>
		</div>

		<div class="col-sm-4">
			<strong>Ex - 03  ( FROM )</strong>
			<p class="bg-light py-4 px-3 border rounded">
				<strong>String :</strong> String to observables ("WELCOME TO RXJS BOY !!")
			</p>
			<hr>
			<ul id="elContainer5">			</ul>
		</div>
	</div>
</div>