<div class="container my-3">
	<div class="row">
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="fromEvent"> From Events </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="interval"> Interval </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="of-from"> Of - From </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="fromEvent"> From Events </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="interval"> Interval </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="of-from"> Of - From </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="fromEvent"> From Events </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="interval"> Interval </a>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="li-items">
				<a routerLink="of-from"> Of - From </a>
			</div>
		</div>
	</div>
</div>