.li-items {
	min-height: 68px;
    border: 1px solid #f7a4a4;
    color: #000;
    border-radius: 3px;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
    margin: 4px;
}
